<div>
    <div class="main-wrapper arkaplanrengi"></div>
    <div class="container">
        <app-navi></app-navi>
        <div class="row">
            <div class="col-md-4">
                <app-brand></app-brand>
                <tr>

                </tr>
                <app-color></app-color>
                <tr>


                </tr>

                

            </div>
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
            
            
        </div>
    </div>
</div>