<tr>

</tr>
<div class="p-3 mb-2 bg-info text-white" style="text-align: center;"><h4 style="text-align: center;"><b>CAR LIST</b></h4></div>

<div class="row" *ngIf="dataLoaded==true">
    <div *ngFor="let carDetail of carDetails" class="card" display:inline-block style="width: 18rem;">
        <img [src]="getImagePath(carDetail.imagePath)" class=" card-img-top" width="320" height="200">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">{{carDetail.carName}}</h5>
            <p class="card-text d-flex justify-content-center"><b>Description: </b> {{carDetail.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Color: </b> {{carDetail.colorName}}</li>
            <li class="list-group-item"><b>Brand: </b> {{carDetail.brandName}}</li>
            <li class="list-group-item"><b>Model Year:</b> {{carDetail.modelYear}}</li>
            <li class="list-group-item"><b>Daily Price: $</b> {{carDetail.dailyPrice}}</li>
        </ul>
        <div class="card-body">
            <section style="float:left">
                <button routerLink="/cars/car/{{carDetail.carId}}" type="button" class="btn btn-info">Details</button>
            </section>
            <section style="float: right">
                <button type="button" class="btn btn-info">Rent</button>
            </section>
        </div>
    </div>
</div>