<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<header *ngIf="dataLoaded!=false">
    <tr>
        <td>
            <h5><strong>Rented Cars</strong></h5>
        </td>
    </tr>
</header>

<table *ngIf="dataLoaded!=false" class="table">

    <thead class="table table-sm table-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Car Name</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Full Name</th>
            <th scope="col">Rent Date</th>
            <th scope="col">Return Date</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let rentalcar of rentalcars">
            <td>{{rentalcar.rentalId}}</td>
            <td>{{rentalcar.carName}}</td>
            <td>{{rentalcar.brandName}}</td>
            <td>{{rentalcar.firstName}} {{rentalcar.lastName}}</td>
            <td>{{rentalcar.rentDate | date:'dd-MM-YYYY HH:mm'}}</td>
            <td>{{(rentalcar.returnDate == null) ? "Car is not available" : rentalcar.returnDate | date:'dd-MM-YYYY HH:mm'}}</td>
        </tr>
    </tbody>

</table>